# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Logs and Data
*.csv
*.log

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Ignore old temp files
temp_credentials.json
client_secret.json
token.json
credentials_base64.txt
